@import '../variables.scss';

.address {
    &-link {
        color: #0008;
        cursor: pointer;

        &:hover {
            color: #000c;
        }
    }

    &-actions {
        min-width: 50px;
    }
}
