@import '../variables.scss';

.address {
    &-link {
        color: #0008;
        cursor: pointer;

        &:hover {
            color: #000c;
        }
    }

    &-actions {
        @media (max-width: $sm-max) {
            text-align: right;
            margin-top: 2px;
        }
    }
}
