@import '../variables.scss';

.layout {
    padding: 0;
    background: white;

    &-content {
        padding: 100px 6vw;

        &-issue {
            background: $error-color;
            margin: 0 -6vw;
            padding: 10px 6vw;
            color: white;
        }
    }

    &-footer {
        background-color: $bright-black-color;
        color: white;
        min-height: 50px;
        font-weight: 300;

        &__content {
            padding: 0 6vw;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            & > div {
                flex: 1 1 0px;
            }
        }

        a {
            color: white;

            &:hover {
                color: #fffa;
            }
        }

        .address {
            word-break: break-all;
        }
    }
}
