@import '../variables.scss';

.pools {
    &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-create a {
            background-color: $primary-color;
            color: white;
            padding: 8px 12px;

            &:hover {
                background-color: $secondary-color;
            }
        }
    }

    .input-with-icon.input-group {
        max-width: 23.5vw;
    }
}

.pool-creation {
    max-width: 500px;
    margin: 100px auto 0;
}
