{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "eslint-plugin-import",
        "@typescript-eslint",
        "prettier",
        "react",
        "react-hooks"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "react/react-in-jsx-scope": "off",
        "react/no-children-prop": "warn",
        "react-hooks/rules-of-hooks": "warn",
        "react/prop-types": "off",
        "react/display-name": "off",
        "react/no-unescaped-entities": "off"
    }
}
