.calculator {
    &-sub-title {
        padding-left: 12px;
        border-left-width: 1px;
        border-left: 1px solid black;
    }

    &-slider {
        &-labels {
            width: 100%;
            margin: 30px 0 10px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & > span {
                min-width: 100px;
                text-align: center;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    &-form {
        margin: 6vw auto;
        width: 50vw;

        & > * {
            margin: 40px 0;
        }

        .input-group-addon.addon-inline {
            background: #fff;
            color: #999;
            border: 1px solid #000;
            border-left: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 0 50px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .input-group .form-control.addon-inline {
            border: 1px solid #000;
            border-right: none;

            height: 56px;
            padding-left: 50px;
        }
    }

    &-result-rewards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 30px;
    }

    &-result-reward {
        height: 11vw;
        width: 25vw;
        background: black;
        border-radius: 2px;
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input.form-control {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-align: left;
        color: #000;
    }
}
