@import '../styles/variables.scss';

.landing {
    &-link {
        &:hover {
            .landing-sub-title {
                border-left-width: 3px;
                transition: border-left-width 0.1s;
            }
        }
    }

    &-sub-title {
        padding-left: 12px;
        border-left-width: 1px;
        border-left: 1px solid black;
    }

    &-dashboard {
        background: linear-gradient(
            to bottom,
            $bright-black-color,
            $bright-black-color 50%,
            $dark-white-color 50%,
            $dark-white-color
        );

        margin: 0 -6vw 2vw;
        padding: 15px 6vw;

        &-content {
            background-color: white;
            min-height: 195px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            margin-right: 0;
            margin-left: 0;
            padding: 40px 2.5vw;

            &-item {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                padding: 5px 0;

                div {
                    text-align: center;
                    margin: 0 0 10px;
                }

                &:not(:first-child) {
                    border-left: 1px solid $secondary-color;
                }

                @media (min-width: $md-min) and (max-width: $md-max) {
                    &:nth-child(odd) {
                        border-left: none;
                    }
                    &:nth-child(n + 3) {
                        border-top: 1px solid $secondary-color;
                    }
                }

                @media (max-width: $sm-max) {
                    &:not(:first-child) {
                        border-left: none;
                        border-top: 1px solid $secondary-color;
                    }
                }
            }
        }
    }

    &-blocks {
        &-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            max-width: 100%;
            overflow-x: auto;
            margin: 10px 0 4vw;

            @media (max-width: $md-max) {
                flex-direction: column;
                align-items: stretch;
            }
        }
    }

    &-noether,
    &-producers {
        &-title {
            margin: 15px 0;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &-pagination {
            width: 100%;
            text-align: center;
            margin: 0 0 20px;

            i {
                font-size: 12px;
            }
        }
    }

    .input-with-icon.input-group {
        max-width: 23.5vw;
    }
}
