@import '../styles/variables.scss';

.staking {
    &-hire {
        background: linear-gradient(
            to bottom,
            $bright-black-color,
            $bright-black-color 50%,
            $dark-white-color 50%,
            $dark-white-color
        );

        margin: 0 -6vw;
        padding: 0px 6vw;

        &-content {
            background-color: white;
            min-height: 90px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            margin-right: 0;
            margin-left: 0;
            padding: 25px 5vw;

            position: relative;
            z-index: 1;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            &-address {
                cursor: pointer;

                @media (max-width: $sm-max) {
                    font-size: 24px;
                }

                &.active {
                    color: black;
                }

                &.inactive {
                    color: $disabled-color;
                }
            }

            &-balance {
                color: $information-color;
                cursor: pointer;
            }
            
            &-error {
                color: $error-color;
            }
        }

        &-node {
            background-color: white;
            padding: 25px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            margin: 1px 0;

            @media (max-width: $sm-max) {
                word-break: break-all;
            }

            &-content {
                width: 520px;
            }

            &-buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                margin-left: -0.5rem;
                margin-right: -0.5rem;

                @media (max-width: $xs-max) {
                    flex-direction: column;
                    align-items: stretch;
                }
            }
        }
    }

    &-total-balances {
        flex-direction: row;

        @media (max-width: $sm-max) {
            flex-direction: column;
        }

        &-item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0 60px;

            label {
                margin: auto;
            }

            img {
                margin: 6px 12px 0 6px;
            }

            @media (max-width: $sm-max) {
                padding: 0;

                label {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            @media (min-width: tablet-min) {
                &:not(:first-child) {
                    border-left: 1px solid $secondary-color;
                }
            }
        }
    }

    &-balances {
        &-item {
            border-left: 10px solid black;
            background: white;

            box-sizing: border-box;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            border-radius: 2px;

            &-timer {
                background: $gray-color;
                padding: 6px 21px;
                border-radius: 30px;
                margin-top: 10px;
            }

            .gray-background {
                background: $gray-color;
            }
        }
    }

    &-ops {
        &-tab {
            background: $gray-disabled-color;
            color: white;
            padding: 15px 0;
            text-align: center;
            cursor: pointer;

            flex: 1;

            &.active {
                background: black;
                border-bottom: 5px solid $information-color;
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
            }

            &:hover {
                filter: opacity(90%);
            }
        }

        &-content {
            background: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            padding: 35px 4.5vw;

            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;

            button {
                border-radius: 2px;

                .btn-dark {
                    background: $gray-button-color;
                    color: white;
                }

                &:hover {
                    filter: opacity(90%);
                }
            }
        }
    }

    .input-group-addon.addon-inline {
        background: #fff;
        color: #999;
        border: 1px solid #000;
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 0 35px;

        display: flex;
        align-items: center;
        justify-content: center;

        &.error {
            border: 1px solid $error-color;
            border-left: none;
        }
    }

    input.form-control {
        border: 1px solid #000;

        height: 56px;
        padding-left: 50px;
        padding-right: 50px;

        &.error {
            border: 1px solid $error-color;
        }

        &.addon-inline {
            border-right: none;
            padding-right: 0;
        }
    }
}
