$primary-color: rgba(0, 0, 0, 0.87);
$secondary-color: rgba(0, 0, 0, 0.54);
$disabled-color: rgba(0, 0, 0, 0.38);
$hint-color: rgba(0, 0, 0, 0.38);

$information-color: #007bff;
$text-color: #ffffff;
