$primary-color: rgba(0, 0, 0, 0.87);
$secondary-color: rgba(0, 0, 0, 0.54);
$disabled-color: rgba(0, 0, 0, 0.38);
$hint-color: rgba(0, 0, 0, 0.38);

$information-color: #007bff;
$gray-color: #e0e0e0;
$gray-disabled-color: #3d3d3d;
$gray-button-color: #242424;

$error-color: #a51414;

$dark-white-color: rgba(255, 255, 255, 0.87);
$bright-black-color: rgba(0, 0, 0, 0.87);

$lg-min: 992px;
$md-max: 991px;
$md-min: 768px;
$sm-max: 767px;
$sm-min: 576px;
$xs-max: 575px;
