$primary-color: rgba(0, 0, 0, 0.87);
$secondary-color: rgba(0, 0, 0, 0.54);
$disabled-color: rgba(0, 0, 0, 0.38);
$hint-color: rgba(0, 0, 0, 0.38);

$information-color: #007bff;

$dark-white-color: rgba(255, 255, 255, 0.87);
$bright-black-color: rgba(0, 0, 0, 0.87);
