.logo {
    height: 50px;
    width: 150px;
    margin: 16px;
    background-image: url("/images/logo-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
