name: Docker
on: [push, 'pull_request']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: 'package.json'

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Install chakra-ui types
        run: pnpm run chakra-types

      - name: Code format check
        run: pnpm format:check

      - name: Linting
        run: pnpm lint

      - name: Run Tests
        run: pnpm test:ci

      - name: Publish coveralls report
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: 'coverage/lcov.info'
          github-token: ${{ secrets.GITHUB_TOKEN }}
